<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\internal-nlog.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets async="true">
        <!-- https://nlog-project.org/config/?tab=layout-renderers&search=package:nlog.web.aspnetcore -->
        <default-target-parameters xsi:type="File"
                                   archiveNumbering="Rolling"
                                   maxArchiveFiles="10"
                                   archiveAboveSize="1048576"
                                   concurrentWrites="true"
                                   keepFileOpen="false"
                                   encoding="utf-8">
            <layout xsi:type="CsvLayout" delimiter="Semicolon" withHeader="false">
                <column name="time" layout="${longdate}" />
                <column name="level" layout="${level}"/>                
                <column name="message" layout="${message}" />
                <column name="status_code" layout="${aspnet-response-statuscode}" />
                <column name="callsite" layout="${callsite}" />
                <column name="stacktrace" layout="${stacktrace:topFrames=10}" />
                <column name="exception" layout="${exception:format=ToString}"/>
                <column name="request_url" layout="${aspnet-request-url}" />
                <column name="request_method" layout="${aspnet-request-method}" />
                <column name="request_user_agent" layout="${aspnet-request-useragent} " />
                <column name="request_referrer" layout="${aspnet-request-referrer}" />
                <column name="request_ip" layout="${aspnet-request-ip}" />
                <column name="request_cookie" layout="${aspnet-request-cookie}" />
                <column name="request_ip" layout="${aspnet-request-ip}" />
                <!--<column name="property1" layout="${event-properties:property1}"/>-->
            </layout>
        </default-target-parameters>

        <target name="rollingCsvFile"
                xsi:type="File"
                fileName="${basedir}/App_Data/logs/log.${logger}.csv"
                archiveFileName="${basedir}/App_Data/logs/archive/log.${logger}.{#}.csv" />

        <target name="rollingCsvFileHttp"
                xsi:type="File"
                fileName="${basedir}/App_Data/logs/log.http.csv"
                archiveFileName="${basedir}/App_Data/logs/archive/log.http.{#}.csv" />

        <target name="rollingCsvFileCustom"
                xsi:type="File"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}"
                fileName="${basedir}/App_Data/logs/log.custom.csv"
                archiveFileName="${basedir}/App_Data/logs/archive/log.custom.{#}.csv" />


        <target name="rollingCsvFileSimple"
                xsi:type="File"
                fileName="${basedir}/App_Data/logs/log.${logger}.csv"
                archiveFileName="${basedir}/App_Data/logs/archive/log.${logger}.{#}.csv">
            <layout xsi:type="CsvLayout" delimiter="Semicolon" withHeader="false">
                <column name="time" layout="${longdate}" />
                <column name="level" layout="${level}"/>
                <column name="message" layout="${message}" />
            </layout>
        </target>        
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="500" minlevel="Error" writeTo="rollingCsvFile" final="true" />
        <logger name="404" minlevel="Debug" writeTo="rollingCsvFile" final="true" />
        <logger name="info" level="Info" writeTo="rollingCsvFileSimple" final="true" />
        <logger name="*" minlevel="Error" writeTo="rollingCsvFileHttp"  />
    </rules>
</nlog>