@{
    ViewData["Title"] = "Error 403";
}

<h1 class="text-danger">Error 403.</h1>
<div style="padding: 15px 0">
    <iframe width="708" height="480" src="https://www.youtube.com/embed/3xYXUeSmb-Y" title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
