<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Web parser app</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
</head>
<body>
    <div id="container" class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
<script src="https://unpkg.com/vue@next"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>