
<div class="parser">
    <div class="parser__search">
        <h4 class="text-success1 font-weight-bold">
            Приложение, которое позволяет парсить произвольную HTML-страницу и выдавать статистику по количеству уникальных слов.
        </h4>
        <div class="row">
            <div class="col-sm-8">
                <input type="text" placeholder="Введите url сайта" v-model="siteUrl" class="form-control"/>
            </div>
            <div class="col-sm-4">
                <button type="button" v-on:click="parse()" class="btn btn-primary">Распарсить</button>
            </div>
        </div>
    </div>
    
    <div role="alert" class="alert alert-warning alert-dismissible" v-if="showError" v-cloak>
        <span class="alert-inner--text"><span>
            <strong>Внимание!</strong> {{errorText}}
        </span></span>
        <button type="button" v-on:click="hideError()" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
    </div>

    <div class="parser__statistics" v-cloak v-if="words != null && words.length > 0">
        <h4 class="text-success">Статистика</h4>
        <div class="parser__statistics-item" v-for="item in words">
            <div class="row">
                <div class="col-sm-10">{{item.word}}</div>
                <div class="col-sm-2">{{item.count}}</div>
            </div>
        </div>
    </div>
</div>

